[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    */migrations/*,
    venv,
    .venv,
    build,
    dist

# Ignorer certaines erreurs
ignore = 
    E203,  # whitespace before ':'
    E501,  # line too long (géré par black)
    W503,  # line break before binary operator

# Complexité maximale
max-complexity = 10

# Format de sortie
format = pylint
show-source = True
statistics = True
count = True
